body{
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}
.nav-bar{
    background-color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 2px;
}
.nav{
    display: inline;
}
.nav-left a{
    text-decoration: none;
    padding-left: 30px;
    font-size: 30px;
    font-weight: bold;
}
.nav-right{
    float: right;
    margin: 5px 20px;
}
.nav-right a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid black;
    padding: 1px 10px;
    background-color: green;
    color: #fff;
}
.header{
    background-color: #fff;
    text-align: center;
    font-size: 25px;
    padding: 22px;
}
.row{
    margin-top: 25px;
    background-color: #fff;
    padding: 1px;
}
.content .row a{
    text-decoration: none;
}
.area{
    margin-top: 10%;
}
#card{
    margin: auto;
    background-color: #fff;
    width: 25%;
}
#form{
    padding: 10px 30px 36px 45px;
}
#submit{
    color: red;
    background-color: rgb(19, 199, 52);
}
form a, .header a{
    border: 2px solid black;
    padding: 1px 6px;
    color: red;
    background-color: rgb(19, 199, 52);
    text-decoration: none;
}