{% include 'header.html' %}
    <div class="header">
        {% if user.is_authenticated %}
            <h1>Welcome, {{user.username}}</h1>
            
        {% else %}
            <h1>Welcome to the Blogs</h1>
            
        {% endif %}
    </div>
    <div class="content">
        <div class="row">
            <a href="">
                <h2>{{product.title}}</h2>
                <h5>{{product.created_at}}</h5>
                <p>{{product.body}}</p>
            </a>
        </div>
    </div>
{% include 'footer.html' %}
